<main>
  <section class="grid-container">
    <div class="secondary-image">
      <img src="/img/maineyee.jpeg" alt="Secondary image" />
    </div>

    <section class="best-sellers">
      <h2>Eyeglasses</h2>
      <div class="products-grid">
        {{#each eyeglasses}}
          <div class="product-item">
              <img src="/{{this.image}}" alt="{{this.name}}" />
              <h3>{{this.name}}</h3>
              <p>{{this.price}} SEK</p>
              <button onclick="addToCart({
                  id: '{{this.id}}',
                  name: '{{this.name}}',
                  price: {{this.price}},
                  image: '{{this.image}}'
                })">Add to Cart</button>
            </a>
          </div>
        {{/each}}
      </div>
    </section>
  </section>
</main>
